.about{
    display: flex;
    justify-content: center;
}

.about-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("../assets/imgs/old11.png");
    background-repeat: no-repeat;
    background-size: 440px;
    height: 530px;
    width: 440px;
    border-radius: 5%;
    font-family: SpecialElite-Regular, sans-serif;
    margin-top: 8vw;
}

.about-desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.about-desc-pos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-rate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.sbmit-btn-about{
    padding: 5px;
    border-radius:10%;
    font-size: 16px;
    font-family: SpecialElite-Regular, sans-serif;
    background-color: rgba(210, 210, 0, 0.127);
    border: 1px outset rgb(0, 0, 0);
}

.sbmit-btn-about:hover{
    transform: scale(1.05);
    background-color: rgba(210, 210, 0, 0.221);
    border: 1px outset rgb(0, 0, 0);
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.rates{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.rate{
    padding: 20px;
    border-radius:10%;
    font-size: 16px;
    font-weight: bold;
    font-family: SpecialElite-Regular, sans-serif;
    background-color: rgba(210, 210, 0, 0.064);
    border-radius: 5%;
}

